<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="developer" content="Surin Machaiah M T">
    <title>WiDS Mysore | Datathon</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<body>

    <header>
        <div class="container">
            <div id="branding">
                <img src="./images/logo.png"> <!--Logo-->
            </div>
            <nav>
                <ul>
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('team')}}">Team</a></li>
                    <li><a href="{{url_for('speakers')}}">Speakers</a></li>
                    <li><a href="{{url_for('agenda')}}">Agenda</a></li>
                    <li class="current"><a href="{{url_for('datathon')}}">Datathon</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="register">
        <div class="container">
            <a href=" " ><h1>Register Here</h1></a> <!--Registration link-->
            <!--<form>
                <input type="email" placeholder="Email">
                <button type="submit" class="button1">Register</button>
            </form>-->
        </div>
    </section>

    <section id="datathon">
        <div class="container">

        </div>
    </section>

    <footer>
        <p>WiDS, Copyright &copy; 2020</p>
    </footer>
</body>
</html>